.button-primary {
    -fx-background-color: rgba(100, 100, 100, 0.4);
    -fx-border-color: rgba(180, 180, 180, 0.4);
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 26;
}
.button-primary:hover{
    -fx-background-color: rgba(120, 120, 120, 0.6);
}
.button-secondary{
    -fx-background-color: rgba(6, 16, 32, 0.22);
    -fx-border-color: rgba(255, 255, 255, 0.25);
    -fx-border-width: 2px;
    -fx-text-fill: white;
}